.custom-container {
    background-color: #0099ff; /* Color celeste claro */
    padding: 20px; 
  }

  .custom-container-highlight {
    background-color: #0080ff; /* Celeste más intenso */
  }
  
  .custom-input-usuario {
    background-color: #0080ff; /* Color de fondo deseado para el campo de usuario */
  }
  .custom-input-contraseña {
    background-color: #0080ff; /* Color de fondo deseado para el campo de usuario */
  }
    
  .error-message {
    border: 2px solid red;
    padding: 10px;
    color: red;
    font-weight: bold;
  }
  .btn-box {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
  }
    
  .custom-input {
    background-color: rgb(128, 166, 197); /* Puedes ajustar el color aquí */
  }
  
  .custom-button {
    width: 100%; /* Para que el botón ocupe el ancho completo */
    font-size: 18px; 
  }
  