
<!--Menus que siempre se van a mostrar --> 
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" routerLink="usuarios/ingresar">Principal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <div  *ngIf="isLoggedIn; else fila">

            <ul class="navbar-nav">

                <li class="nav-item active" >
                    <a class="nav-link" routerLink="provincia/home">Home<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item" >
                    <a class="nav-link" routerLink="provincia/listar">Listar Provincias</a>
                </li>	
             
                
                <li class="nav-item">
                    <a class="nav-link"  id="logout" (click)="logout()">Cerrar sesion</a>
                </li>
            </ul>

        </div>

        <ng-template #fila>
            <ul class="navbar-nav">
            
                <li class="nav-item active" >
                    <a class="nav-link" routerLink="usuarios/ingresar">Iniciar sesión<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" routerLink="usuarios/registrar">Registrarse <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </ng-template>
       
    </div>
</nav>


